<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wlozano.dpay" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Dpay</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
        <resource-file src="google-services.json" target="app/google-services.json" />
    </platform>
    <engine name="android" spec="^8.1.0" />
    <plugin name="cordova-plugin-firebasex" spec="^6.1.0">
        <variable name="FIREBASE_ANALYTICS_COLLECTION_ENABLED" value="true" />
        <variable name="FIREBASE_PERFORMANCE_COLLECTION_ENABLED" value="true" />
        <variable name="FIREBASE_CRASHLYTICS_COLLECTION_ENABLED" value="true" />
    </plugin>
    <plugin name="cordova-plugin-firebase-authentication" spec="3.0.0">
        <variable name="FIREBASE_AUTH_VERSION" value="18.0.+" />
    </plugin>
    <plugin name="cordova-plugin-firestore" spec="3.0.0">
        <variable name="ANDROID_FIREBASE_CORE_VERSION" value="16.0.8" />
        <variable name="ANDROID_FIREBASE_FIRESTORE_VERSION" value="18.2.0" />
    </plugin>
</widget>
