/* Your app styles here */
.background-gradient {
    background: #FDC830;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #F37335, #FDC830);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #F37335, #FDC830);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.back-pages{
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#email-login::placeholder {
    color: rgb(56, 56, 56);
}
#password-login::placeholder {
    color: rgb(56, 56, 56);
}